name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        poetry-version: [1.1.13]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Start Mosquitto
        uses: namoshek/mosquitto-github-action@v1
        with:
          version: "latest"
          ports: "1883:1883 8883:8883"
          container-name: "mqtt"

      - name: Install poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install deps
        run: poetry install

      - name: Sqlite version
        run: sqlite3 --version

      - name: Tests
        run: poetry run pytest --verbose

      - uses: actions/checkout@v2

      - name: Build on arm
        uses: pguyot/arm-runner-action@v2
        with:
          base_image: https://downloads.raspberrypi.org/raspios_oldstable_armhf/images/raspios_oldstable_armhf-2022-04-07/2022-04-04-raspios-buster-armhf.img.xz
          commands: |
            apt-get install -y --no-install-recommends python3-pip
            pip3 install poetry
            poetry install --no-dev
            poetry build
